
.header{
    height: 9vh;
}
.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end; 
    
    list-style: none;
  padding: .5em;
   
}
.header-icons li{
   padding: 0px .5em; 
}
/* svg:not(:root).svg-inline--fa{
    
    font-size: 2rem;
} */